body {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
    
}

header {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    padding: 20px;
    margin:80px;
}



.rectangle {
    text-decoration:none;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: white;
}

.rectangle span{
    text-decoration:none;
}

.blue {
    background-color: #3498db;
}

.green {
    background-color: #2ecc71;
}

.orange {
    background-color: #e67e22;
}

.purple {
    background-color: #9b59b6;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .dashboard {
        grid-template-columns: 1fr;
    }
}


