<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Admin/Admin.css">
    <link rel="stylesheet" href="~/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <title>Professional Dashboard</title>
</head>
<body>

    <header>
        <h1>Dashboard</h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Analytics</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </nav>
    </header>

    <div class="dashboard">
        <a href="/Admin/Products"><div class="rectangle blue"><span>Products</span></div></a>
        <a href="/Admin/Categories"> <div class="rectangle green"><span>Category</span></div></a>
        <a> <div class="rectangle orange"><span>Orders</span></div></a>
        <a> <div class="rectangle purple"><span>ShoppingCart</span></div></a>
    </div>

</body>
</html>
