.contact{
    display:flex;
    
}

.contact-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    display:flex;
    margin-top:200px;
    margin-left:150px;
    margin-bottom:200px;
    justify-content:space-around;
    align-items:center;
    width:50%;
}

    .contact-form h1 {
        color: #333;
    }

    .contact-form form {
        text-align: left;
    }

    .contact-form label {
        display: block;
        margin-top: 10px;
        font-size: 14px;
        color: #555;
    }

    .contact-form input,
    .contact-form textarea {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .contact-form button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        transition:background-color .3s ease-in-out;
    }
    .contact-form button:hover{
        background-color:darksalmon;
    }

.business-card {
    width: 300px;
    height: 200px;
    background-color: #fff;
    border: 0px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top:203px;
    height:250px;
}

.name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.title {
    font-size: 16px;
    color: #888;
    margin-bottom: 10px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px; /* Add spacing between icons and text */
}

    .contact-info .fa {
        font-size: 16px;
        color: #333;
        margin-right: 5px;
    }

    .contact-info span {
        display: inline-block;
    }

    .contact-info a {
        color: #333;
        text-decoration: none;
    }