body {
    margin: 0px;
    padding: 0px;
    font-family: "Josefin Sans", sans-serif;
}

html{
    margin:0;
    padding:0;
}
/* Start Header */


header {
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    /* box-shadow: 0px 0px 0 rgb(188 76 76); */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header-img img {
    height: 70px;
    width: 62px;
    top: 23px;
    left: 32px;
    margin-left: 41px;
}

.header-nav nav {
    list-style: none;
    font-size: 20px;
}

.header-nav nav a {
    display: inline-block;
    margin-left: 55px;
    font-size: 18px;
    text-decoration:none;
    color:black;
    transition :color .2s ease-in-out;

}

.header-nav nav a:hover{
    color:red;
}


.header-icons{
    margin:45px;
}


.header-icons a {
    margin :15px;
    color:black;
    transition :color .5s ease-in-out;
}

.header-icons a:hover{
    color:red;
}
  
/* End Header */

/* Start LangingPage */
.landing-page {
    display: grid;
    height: 720px;
    background-color: #f0f0f2;
    grid-template-columns: 60% 30%;
    gap: 300px;
    overflow: hidden;
    margin-top: 101px;
}

.landing-page .img img {
    height: 100%;
    transition: transform 0.9s ease-in-out;
}

.zoomed {
    transform: scale(1.4); /* Adjust the scale factor for zoom level */
}


.landing-page .text {
    padding: 67px;
    font-size: 32px;
    color: #161641;
    margin-left: 24px;
}





.landing-page .text .btn {
    color: white;
    background-color: #4a4a4b;
    margin-top: 40px;
    height: 70px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .3s ease-in-out;
    font-size:23px;
    font-style:normal;
}

.landing-page .text .btn:hover {
    background-color: #fe2122;
}


.landing-page .text .text-span {
   font-style: italic;
   font-size: 20px;
}

/* End Landing page*/

/*Start New Arrival*/

.new-arrival {
    font-size: 31px;
    margin-top: 250px;
    margin-left: 30px;
}
.new-arrival h1{
    margin-left:195px;
}

.new-arrival .items-container {
    height: auto;
    margin-top: 75px;
    margin :75px 30px;
    display: flex;
    justify-content: center;
    overflow:hidden;
}

.new-arrival .items-container .item{
    overflow:hidden;
    text-align:center;
    margin: 0px 20px;
}

.new-arrival .items-container .item img{
    height:530px;
    transition:transform .3s ease-in-out;
}

.new-arrival .items-container .item img:hover{
    transform:scale(1.06);
}

.new-arrival .items-container .item h4{
    color:#444444;
    font-weight:700;
    font-size:24px;
    margin-top:50px;
}

.new-arrival .items-container .item h5{
    color: #ff2020;
    font-size: 18px;
    font-weight: 500;
}


/*End New Arrival*/

/*Starrt Second Arrival */

.second-arrival{
    margin:0;
    padding:0;
    margin-top:230px;
    
}

.second-arrival .item{
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}

.second-arrival .item img {
        width: 80%;
        height: 750px;
        transition: transform 0.8s ease-in-out, filter 1s ease-in-out; /* Adjust the filter transition */
}

.second-arrival .item img:hover 
{
        transform: scale(1.02); 
        filter: brightness(75%);
}

/* End Second Arrival*/

/* Start Popular Items*/
.popular-items{
    margin-top:300px;
}

.popular-items .text{
    width:50%;
    text-align:center;
    margin-left:400px;
}

.popular-items .text h1{
    font-size:50px;
}

.popular-items .text span{
    color:#777;
    font-size:20px;
    font-style:italic;
}

.popular-items .items-space{
    margin-top:80px;
    width:78%;
    margin-left:12%; /*Get in the Middle*/
}

.popular-items .item{
    margin-top:50px;
    width: 30%; /* Set the width to approximately 30% to fit three items in a row */
    display: inline-block;
    text-align: center; /* Center the content within each item */
    position:relative;
}

.popular-items .item .overlay{
    position: absolute;
    height: 7px;
    width: 90%;
    bottom: 153px;
    left: 19px;
    background-color: #fe2122;
}

.popular-items .item .img{
    height:360px;
    width:380px;
}

.popular-items .item h4{
    color:#444444;
    font-weight:700;
    font-size:24px;
    margin-top:50px;
}

.popular-items .item h5{
    color: #ff2020;
    font-size: 18px;
    font-weight: 500;
}

.popular-items .item .addtocart {
    position: absolute;
    height: 70px;
    width: 90%;
    bottom: 86px;
    left: 19px;
    background-color: #fe2122;
    color:white;
    visibility:hidden;
}

.popular-items .item .addtocart:hover {
    visibility:visible;
    bottom:153px;
    display:flex;
    justify-content:center;
    align-items:center;
}
/* End Popular Items */

/*Start Watch of Choice*/

.watchofchoice{
    margin-top: 100px;
    padding: 90px;
    display: flex;
    justify-content:center;
    align-items:center;
}

.watchofchoice img{

}

.watchofchoice .text{
    margin-left:100px;
}

.watchofchoice .text h1{
        color: #000;
    font-size: 56px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 40px;
}

.watchofchoice .text span{
    margin-bottom: 50px;
    font-size: 17px;
    color:#777;
}

.watchofchoice .text a{
    text-decoration:none;
}

.watchofchoice .text a .showwatches{
    margin-top:70px;
    background-color:#ff2020;
    height: 68px;
    width: 239px;
    color:white;
    font-size:27px;
    font-weight:600;
    display:flex;
    justify-content:center;
    align-items:center;
    transition: background-color .4s ease-in-out;
}

.watchofchoice .text a .showwatches:hover{
    background-color:#444444;
}

/*End Watch of Choice*/
