@model bool?

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Forget Password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            max-width: 400px;
            margin-top: 100px;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="mb-4">Forget Password</h2>
        <p class="mb-4">Enter your email to reset your password.</p>

        <form method="post" action="/Account/ResetPassword">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" value="@Model" required />
            </div>

            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
    
    @if(Model == true)
    {
        <p style="color:green; margin-top:20px;">We Sent You an Email With Your New Password</p>
    }
    else if(Model == false)
    {
            <p style="color:red; margin-top:20px;">This Email Is Not Exsists</p>
    }
    </div>

</body>
</html>
