
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/all.min.css" />
    <link rel="stylesheet" href="~/css/Home.css">
    <link rel="stylesheet" href="~/css/Shop.css">
    <link rel="stylesheet" href="~/css/About.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <title>About</title>
</head>
<body>
    <div id="loadingSpinner" style="display: none;">
        <div class="spinner"></div>
    </div>


    <header>

        <div class="header-img">
            <img src="Images/Home/timezone.png">
        </div>

        <div class="header-nav">
            <nav>
                <a href="/Home">Home</a>
                <a href="/Shop">Shop</a>
                <a href="/About">About</a>
                <a href="/Contact">Contact</a>
            </nav>
        </div>

        <div class="header-icons">
            <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
            @if (!_signInManager.IsSignedIn(User))
            {
                <a href="/Account/Login"> <i class="fa-regular fa-user"></i></a>
            }
            else
            {
                <a href="/Account/LogOut"><i class="fa-solid fa-right-from-bracket"></i></a>
            }
            <a href="/Cart"><i class="fa-solid fa-cart-shopping"></i></a>
            @if (User.IsInRole("Admin"))
            {
                <a href="/Admin"> <i class="fa-solid fa-hammer"></i></a>
            }
        </div>

    </header>


    <div class="shop-landing-page">
        <h1>About</h1>
    </div>





<div class="about-conatainer">
    <div class="red-line"></div>
    <h1>Our Mission</h1>
       
</div>

<div class="desc">
        <span>
            Consectetur adipiscing elit, sued do eiusmod tempor ididunt udfgt labore et dolore magna aliqua. Quis ipsum suspendisces gravida. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus.<br />

            Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan.
        </span>
</div>

    <div class="about-conatainer2">
        <div class="red-line"></div>
        <h1>Our Vision</h1>

    </div>

    <div class="desc">
        <span style="margin-bottom:150px;">
            Consectetur adipiscing elit, sued do eiusmod tempor ididunt udfgt labore et dolore magna aliqua. Quis ipsum suspendisces gravida. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus.<br />

            Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan.
        </span>
    </div>
















<div class="features">
    <div class="bar">

        <div class="item">
            <i class="fa-solid fa-box"></i>
            <h3>Free Shipping Method</h3>
            <span>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</span>
        </div>

        <div class="item">
            <i class="fa-solid fa-lock"></i>
            <h3>Secure Shipping Method</h3>
            <span>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</span>
        </div>

        <div class="item">
            <i class="fa-solid fa-shield-halved"></i>
            <h3>Secure Payment System</h3>
            <span>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</span>
        </div>

    </div>
</div>

<div class="footer">
    <div class="part">
        <img src="/Images/Home/timezone.png" />
        <span>Asorem ipsum adipolor sdit amet, consectetur adipisicing elitcf sed do eiusmod tem.</span>
    </div>

    <div class="part">
        <h4>Quick Links</h4>

        <nav>
            <a href="#">About</a>
            <a href="#">Offers & Discounts</a>
            <a href="#">Get Coupon</a>
            <a href="#">Contact Us</a>
        </nav>
    </div>

    <div class="part">
        <h4>New Products</h4>

        <nav>
            <a href="#">About</a>
            <a href="#">Offers & Discounts</a>
            <a href="#">Get Coupon</a>
            <a href="#">Contact Us</a>
        </nav>
    </div>

    <div class="part">
        <h4>Support</h4>

        <nav>
            <a href="#">Frequently Asked Questions</a>
            <a href="#">Offers & Discounts</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Privacy Policy</a>
        </nav>
    </div>
</div>

<div class="last">
    <div class="text">
        <p>&copy; 2024 Your Company Name. All rights reserved.</p>
    </div>

    <div class="icon">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
    </div>
</div>

<!-- Floating icon -->
<div class="floating-icon" id="scrollToTopBtn">
    <img src="/Images/Home/scroll-to-top.png" alt="Scroll to Top">
</div>

<script src="~/js/site.js"></script>
</body>
</html>